<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Connexion</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="connexion.css">
    </head>

    <body>
        <div id="bandeau">
            <h1><a id="titre" href="./base.html">Forum</a></h1>
            <div class="container" id="c_connexion"><a href="connexion.html" class="bouton" id="connexion">connexion</a></div>
            <div class="container" id="c_inscription"><a href="inscription.html" class="bouton" id="inscription">inscription</a></div>  
            <hr id="barre">
        </div>

        <div id="colg">


            <nav id="choixsallons">
                <h1>Différents salons</h1>
    
                <ul id="Salon1">
    
                    <li><a href="#voyage">Salon voyage</a></li>
                    <li><a href="#conseil">Salon conseil</a></li>
                    <li><a href="#conseil">Salon cullinaire</a></li>
                </ul>
            </nav>
        </div>

        <div id="contenue">
            <h2>Connexion</h2>
            <hr>
            <form method="post">
                <table>
                    <tr><td><label for="username">Nom d'utilisateur</label></td><td><input type="text" name="username" id="username"></td></tr>
                    <tr><td><label for="pass">mot de passe</label></td><td><input type="password" name="pass" id="pass"></td></tr>
                </table>
                <input type="submit" value="Connexion">
            </form>
        </div>
        <div id="pub">
            <h2>Publicité</h2>
    
            <section id="cold">
    
                <ul class="pub">
                    <li>
                        <a href="#conseil"><img src="canno.jpg" alt="Cannot photo" /></a>
                    </li>
                    <li>
                        <a href="#conseil"><img src="elephant.jpg" alt="Photo elephant" /></a>
                    </li>
                    <li>
                        <a href="#conseil"><img src="libre.jpg" alt="La liberté" /></a>
                    </li>
                </ul>
    
            </section>
    
            <section id="coldb">
                <ul class="pub">
                    <li>
                        <a href="#conseil"><img src="soleil.jpg" alt="Levé Soleil" /></a>
                    </li>
                    <li>
                        <a href="#conseil"><video src="video.webm" alt="Video de motivation" autoplay ></video></a>
                    </li>
    
                </ul>
            </section>
        </div>
    </body>
</html>