<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="UTF-8">
        <title>Forum</title>
        <link rel="stylesheet" href="Sallon.css">
    </head>
</head>

<body>

    <div>
        <nav id="navbar">
            <ul id="menu_bars">

                <li id="menu_bar">Forum</li>
                <li id="menu_bare"><input id="Noma" type="text" name="name" placeholder="Recherche" pattern="[A-Z]{2-30}" title="Faire une recherche" required /></li>
                <li id="menu_bares"><a href="#">Profil</a>

                </li>

            </ul>
        </nav>
    </div>

    <div id="colg">


        <nav id="choixsallons">
            <h1>Différents salons</h1>

            <ul id="Salon1">

                <li><a href="#voyage">Salon voyage</a></li>
                <li><a href="#conseil">Salon conseil</a></li>
                <li><a href="#conseil">Salon cullinaire</a></li>
            </ul>
        </nav>
    </div>


    <div id="pub">
        <h2>Publicité</h2>

        <section id="cold">

            <ul class="pub">
                <li>
                    <a href="#conseil"><img src="canno.jpg" alt="Cannot photo" /></a>
                </li>
                <li>
                    <a href="#conseil"><img src="elephant.jpg" alt="Photo elephant" /></a>
                </li>
                <li>
                    <a href="#conseil"><img src="libre.jpg" alt="La liberté" /></a>
                </li>
            </ul>

        </section>

        <section id="coldb">
            <ul class="pub">
                <li>
                    <a href="#conseil"><img src="soleil.jpg" alt="Levé Soleil" /></a>
                </li>
                <li>
                    <a href="#conseil"><video src="video.webm" alt="Video de motivation" autoplay ></video></a>
                </li>

            </ul>
        </section>
    </div>

    <div id="place">
        <form action="carte.php" method="post" id="colm">

            <textarea id="Nomad" name="textarea" rows="1" cols="20" placeholder="Ecrire un message" title="Saisir un message" required></textarea>

            <input id="envoie" type="submit" name="soumet" value="Envoyer">

        </form>
    </div>

</body>

</html>