html{
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

body{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto auto;
}

#bandeau
{
    position: fixed;
    display:grid;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #bebebe;
    grid-template-columns: 50% auto 130px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#titre{
    text-decoration: none;
    color:black;
}

#forum{
    font-size: 30pt;
    margin-left : 10px;
    text-decoration: none;
    color: black;
}
.container{
    display:flex;
    align-items: center;
    justify-content: right;
}

.bouton{
    grid-row: 1;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    margin-right: 10px;
}

.bouton:hover{
    font-weight: bolder;
}

#connexion{
    text-decoration: underline;
    font-size: 15px;
    padding-right: 5px;
}

#inscription{
    border: solid black 1px;
    border-radius: 20px;
    background-color: black;
    color:white;
}

#choixsallons {
    position: absolute;
    width: 202px;
    height: auto;
    left: 34px;
    top: 102px;
    background: #C4C4C4;
}

#pub {
    width: 20%;
    height: auto;
    right: 3%;
    top: 10%;
    background: #C4C4C4;
    margin-top: 10%;
    margin-left: 5%;
}

#barre{
    margin-top: 0px;
    width: 100%;
    grid-column: 1 / 4;
    border: solid #b4b4b4 1px;
}

#lien_connexion
{
    display:table-cell;
    height: fit-content;
    width: fit-content;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: auto;
}

#contenue{
    grid-column: 2;
    background-color: #ffffff;
    border: solid rgb(128, 128, 128) 1px;
    margin: 10px auto;
    margin-top : 10%;
    padding: 10px 20px;
    width:fit-content;
    height: 100%;
}

#place {
    margin-top: 40%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 30%;
}

#colg{
    position: fixed;
}

#Salon1
#Pub1,
#Pub2 {
    padding: 6%;
}

ul{
    list-style-type: none;
}

img, video{
    width: 150px;
}
